.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin: 0 auto 30px auto;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin: 0 auto 50px auto;
  }
}
