.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  .site-header & {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .site-footer & {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }

    .title {
      color: var(--primary-white-color);
      font-size: inherit;
      font-weight: 700;
      line-height: 1.14;
      text-transform: uppercase;
      margin-top: 60px;
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
        margin-top: 5px;
      }

      @media screen and (min-width: 1200px) {
        margin-top: 12px;
      }
    }
  }

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
